<!DOCTYPE HTML>{% load staticfiles %}
<html>
<head>
<meta charset="utf-8">
<title>jQuery File Upload Example</title>
<style>
.progress-bar {
    width: 0%;
}
.bar {
    height: 15px;
    border-radius: 13px;
    background: rgb(53, 109, 255);
}
.fileinput-button {
    position: relative;
    overflow: hidden;
}
.fileinput-button input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
</style>
<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<form id="fileupload" action="/upload/" method="POST" enctype="multipart/form-data">
    <span class="btn btn-success fileinput-button">
        <span>Add files...</span>
        <input type="file" name="item" multiple>
        <input type="hidden" name="upload_id" value="new">
    </span>
</form>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
    <span class="sr-only">60% Complete</span>
  </div>
</div>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script>
$(function () {
    var upload_id;
    $('#fileupload').fileupload({
        maxChunkSize: {{ MAX_CHUNK_SIZE }},
        maxFileSize: {{ MAX_FILE_SIZE }},
        dataType: 'json',
        add: function (e, data) {
            $.getJSON('/upload/new', function (result) {
                data.formData = result; // e.g. {upload_id: 123}
                upload_id = result.upload_id;
                data.submit();
            });
        },
        done: function (e, data) {
            console.log('done!');
            console.log(data);
            if(data.errors){
                $.each(data.errors, function(error) {
                    $('<div class="error">error</div>');
                });
            }
            if(typeof(data.result.files) !== "undefined" && data.result.files) {
                $.each(data.result.files, function(index, file) {
                    $('<img>').attr('src', file.uri).appendTo('body');
                });
            }
            console.log(data.result);
        },
        chunksend: function (e, data) {
            data.formData.part = parseInt(data.formData.part) + 1;
            //console.log(JSON.stringify(data, undefined, 4));
            console.log(data);
        },
        chunkdone: function (e, data) {
            console.log("Chunk sent");
            data.formData.mpuid = data.result.files[0].mpuid;
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('.progress .progress-bar').css(
                'width',
                progress + '%'
            ).attr('aria-valuenow', progress);
            $('.progress .sr-only').html(progress + '% Complete');
        }
    });
});
</script>
</body>
</html>